---
title: "Categories"
layout: default
permalink: "/categories.html"
---

{% assign sortedCategories = site.categories | sort %}

{% for category in sortedCategories %}
    <h4 class="mt-5 mb-neg-30" id="{{ category[0] | replace: " ","-" }}"><span class="text-uppercase badge badge-primary text-small">{{ category[0] | replace: "-"," " }}</span></h4>

    <div class="blog-grid-container">
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
            {% if post.hidden != true %}
                {% if post.title != null %}
                    {% if group == null or group == post.group %}
                        {% include postbox.html %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </div>
{% endfor %}
